.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

/_freeze/
/_site/
/_book/
/pdf_docs/
/index_files/

_quarto.yml
_variables.yml
styles.css
index.qmd
capacity.qmd
environment.qmd
safety.qmd
cost-efficiency-er1-1.qmd
cost-efficiency-er2-1.qmd
cost-efficiency-tz1-1.qmd
cost-efficiency-tz2-1.qmd
_cost-efficiency-er1-1.qmd
_cost-efficiency-er2-1.qmd
_cost-efficiency-tz1-1.qmd
_cost-efficiency-tz2-1.qmd
about.qmd
disclaimer.qmd
download.qmd

format_annex2_files.xlsm
Performance-Review*.tex

*.log