header {
  margin: auto;
  max-width: 1200px;
}

body {
  margin: auto;
  max-width: 1250px;
}

p {
  font-size: 0.9rem;
}

li {
  font-size: 0.9rem;
}

h1, h2 {
  color: #747a7f;
}

.fakeh1 {
  color: #747a7f;
  font-size: calc(1.325rem + 0.9vw);
  opacity: .9;
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h3 {
  font-size: calc(1.1rem + 0.1vw);
}

.text-right {
  text-align: right;
}

.navbar-logo{
 max-height: 35px;

}

.text-centered {
  text-align: center;
  border: 1px solid black;
}

.text-centered-nb {
  text-align: center;
}

.text-pad-top {
  padding-top: 1.5rem;
}  

.title{
  color: #0070c0;
}

.ceff-table {
  font-size: 0.8rem;
  margin-bottom: 0px;
}

.hidden-column-headers .rt-thead {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.navbar .dropdown-item {
  padding: 0rem 0.5rem;
}

.nav-item {
  font-size: 1rem;
}

.nav-footer {
  display: block;
}

@media screen and (min-width: 768px) {
  .mychart {
    float: left; 
    margin-right: 10px;
    width: 60%;
  }
  
  .equal-column {
    float: left; 
    margin-right: 20px;
    width: 50%;
  }
  
   .equal-column-right {
    float: right; 
    margin-right: 0px;
    width: 48%;
  }

}

@media screen and (max-width: 768px) {
  .mychart {
    float: left; 
    width: 100%;
  }
  
  .equal-column {
    float: left; 
    width: 100%;
  }

  .equal-column-right {
    float: none; 
    width: 100%;
  }

}

.gt_table {
background-color: white;
}

.no-external-icon a.external::after {
  content: none !important;
}

#table_invest_av_category, #table_invest_av_er_trm, #table_invest_av_type {
  margin-right: 10px !important; /* Force override if something else is setting it */
}

.chart-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}